body {
	background: url("../img/background.jpg");
	font-family: calibri;
	line-height: 1.5;
	font-size: 18px;
	margin: 0;
}
.card {
	width: 400px;
	margin: 30px auto;
	background-color: #fff;  
	box-shadow: 0 11px 12px #AAA;
	border-radius: 10px;
	padding: 20px;
}
.card-img { 
	display: block;
	width: 190px; 
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
}
.card-title{
	font-size: 30px; 
	text-align: center;
	color: #3c71ab;
}
.card-text{
	font-size: 18px;
}
.card-info{
	font-size: 22px;
	color: #ff8282;
}
.card-list{
	padding-left: 0; 
	list-style-position: inside;
	font-size: 18px; 
}